@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Golos+Text&family=Shantell+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
 
}

h1 {
    color: #7755fb;
    font-family: serif;
    margin-bottom: 10px;
}

#page-title{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 18px;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(45deg, black, white);
}

#logo-nav{
    width: 60px;
    height: 60px;
}

#main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
}

#main-nav li{
    display: inline-flex;
    justify-content: center;
}

#main-nav a{
    color: white;
    background-color: rgb(58, 58, 58);
    padding: 9px;
    border-radius: 5px;
    text-decoration: none;
    
}

.page-main{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 20px 8px;
}

.Bibliografia-main{
    padding: 6px 6px;
    margin-top: 6px;
    margin-left: 40px;
    width: 190px;
    height: 388px;
    border-radius: 10px;
    box-shadow: 6px 5px 14px #33027473;
    background-color: rgb(0 0 0 / 18%);
}

.Biografia-Articulo{
    display: inline-grid;
    padding: 1px;
    width: auto;
    margin-right: 44px;
    font-family: 'Golos Text', sans-serif;
    margin-left: 30px;
}

.Biografia-Articulo h1{
    margin-top: 16px;
}

.discografia-padre{
    background-color: #fffffff7;
  
}

.Bibliografia-titulo{
    padding: 1px;
    margin-bottom: 8px;
    list-style: none;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;

}

.discografia-padre h2{
    margin-bottom: 18px;
}

.discografia-main__lista{
    display: flex;
    flex-direction: row;
    width: 806px;
    height: 348px;
}

.discografia-lista--Ep{
    margin-right: 33px;
    padding-right: 13px;
    border-right: groove 3px ghostwhite;
    padding-left: 32px;
}

.discografia-lista{ 
    margin-right: 33px;
    padding-right: 13px;
    border-right: groove 3px ghostwhite;
}

.discografia-lista h1{
    margin-bottom: 19px;
}

.discografia-lista a, .discografia-lista--Ep a{
    text-decoration: none;
}

.discografia-lista li, .discografia-lista--Ep li{
    margin-bottom: 12px;
}

.page-main-two{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 36px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(76, 27, 139));
    background-color: white;
}

.arte-historia{
    margin-left: 140px;
    margin-right: 113px;
    width: 427px;
    font-family: 'Golos Text', sans-serif;
}

.arte-historia h2{
    margin-bottom: 18px;
}



.container-all{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 7px;
    position: relative;
    max-width: 395px;
    width: 100%;
    border: solid 1px;
    overflow: hidden;
}

img{
    max-width: 100%;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(10, 10, 10, 0.5);
    margin: -5px 7px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}

input[id="5"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
    background: #fff;
}

input[id="6"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 5), 0, 0);
}

input[id="6"]:checked ~ .pagination .pagination-item[for="6"]{
    background: #fff;
}

input[id="7"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 6), 0, 0);
}

input[id="7"]:checked ~ .pagination .pagination-item[for="7"]{
    background: #fff;
}

input[id="8"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 7), 0, 0);
}

input[id="8"]:checked ~ .pagination .pagination-item[for="8"]{
    background: #fff;
}

input[id="9"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 8), 0, 0);
}

input[id="9"]:checked ~ .pagination .pagination-item[for="9"]{
    background: #fff;
}

input[id="10"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 9), 0, 0);
}

input[id="10"]:checked ~ .pagination .pagination-item[for="10"]{
    background: #fff;
}

input[id="11"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 10), 0, 0);
}

input[id="11"]:checked ~ .pagination .pagination-item[for="11"]{
    background: #fff;
}

input[id="12"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 11), 0, 0);
}

input[id="12"]:checked ~ .pagination .pagination-item[for="12"]{
    background: #fff;
}

input[id="13"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 12), 0, 0);
}

input[id="13"]:checked ~ .pagination .pagination-item[for="13"]{
    background: #fff;
}

@keyframes autoplay{
    7%{
        transform: translate3d(calc(-100 * 0), 0, 0);
    }

    14%{
        transform: translate3d(calc(-100 * 1), 0, 0);
    }

    21%{
        transform: translate3d(calc(-100 * 2), 0, 0);
    }

    28%{
        transform: translate3d(calc(-100 * 3), 0, 0);
    }

    35%{
        transform: translate3d(calc(-100 * 4), 0, 0);
    }

    42%{
        transform: translate3d(calc(-100 * 5), 0, 0);
    }

    49%{
        transform: translate3d(calc(-100 * 6), 0, 0);
    }

    56%{
        transform: translate3d(calc(-100 * 7), 0, 0);
    }

    63%{
        transform: translate3d(calc(-100 * 8), 0, 0);
    }

    70%{
        transform: translate3d(calc(-100 * 9), 0, 0);
    }

    77%{
        transform: translate3d(calc(-100 * 10), 0, 0);
    }

    84%{
        transform: translate3d(calc(-100 * 11), 0, 0);
    }

    91%{
        transform: translate3d(calc(-100 * 12), 0, 0);
    }

    98%{
        transform: translate3d(calc(-100 * 13), 0, 0);
    }
}

.page-main-three{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*background: linear-gradient(to bottom, -10deg, #270e62, white);*/
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(76, 27, 139));
    height: 591px;
    margin-top: 36px;
}

.page-articulo{
    font-family: 'Golos Text', sans-serif;
}

.page-articulo h2{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.page-articulo p{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.container-video-parrafo{
    display: inline-flex;
}

.container-video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 4px;
    position: relative;
    max-width: 800px;
    width: 100%;
    border: solid 1px;
    box-shadow: 6px 6px 20px #040206;
    overflow: hidden;
}

.container-parrafo{
    font-family: 'Golos Text', sans-serif;
    padding: 41px 40px;
    width: 370px;
}

.container-parrafo-item{
    font-family: 'Golos Text', sans-serif;
}

source{
    max-width: 100%;
}

.slide-video{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-video-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination-video{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 415px;
}

.pagination-item-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ababab;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(10, 10, 10, 0.5);
    margin: 2px 7px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item-video:hover{
    transform: scale(2);
}

.pagination-item-video img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item-video:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1video"]:checked ~ .slide-video{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1video"]:checked ~ .pagination-video .pagination-item-video[for="1video"]{
    background: #6a1ad7b8;
}

input[id="2video"]:checked ~ .slide-video{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2video"]:checked ~ .pagination-video .pagination-item-video[for="2video"]{
    background: #6a1ad7b8;
}

input[id="3video"]:checked ~ .slide-video{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3video"]:checked ~ .pagination-video .pagination-item-video[for="3video"]{
    background: #6a1ad7b8;
}

input[id="4video"]:checked ~ .slide-video{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4video"]:checked ~ .pagination-video .pagination-item-video[for="4video"]{
    background: #6a1ad7b8;
}

.page-main-four{
    margin-top: 40px;
}

.container-articulo-vida-sewer{
    font-family: 'Golos Text', sans-serif;
}

.container-articulo-vida-sewer h2{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.container-articulo-vida-sewer p{
    margin-bottom: 25px;
    padding: 1px 76px;
} 

.container-yt{
    display: flex;
    justify-content: space-evenly;
}
